@use "./variables";

// Common Styles for profile page
.common-styles {
  .profile-card {
    width: 18rem;
    background-color: variables.$background-sand;
    border: 1px solid variables.$neutral-light;
    border-radius: 0.5rem;
    box-shadow: variables.$box-shadow-soft;
    transition: box-shadow 0.3s ease, transform 0.3s ease;

    &:hover {
      box-shadow: variables.$box-shadow-deep;
      transform: translateY(-3px);
    }

    .card-img-top {
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
      max-height: 200px;
      object-fit: cover;
    }

    .card-body {
      padding: 1.5rem;

      .card-title {
        font-size: 1.25rem;
        font-weight: bold;
        color: variables.$text-dark;
        margin-bottom: 0.75rem;
      }

      .card-text {
        font-size: 1rem;
        color: variables.$neutral-dark;
      }
    }

    .profile-action-buttons {
      padding: 0.75rem;
      text-align: center;

      .btn {
        color: #fff;
        background-color: variables.$secondary-sun;
        border: none;

        &:hover {
          background-color: variables.$hover-darker-terracotta;
        }
      }
    }
  }

  // Responsive Design for profile card
  @media (max-width: 576px) {
    .profile-card {
      width: 100%;
      margin: 0 auto;
    }
  }
}
