
$color-brown-dark: #8b4513;
$color-yellow: #f4a900;
$color-orange: #d9733b;
$color-cream: #f6f2eb;
$color-dark-brown: #2b1d0e;
$color-light-cream: #ece7df;
$color-dark-beige: #5a4a39;
$color-brown-medium: #4e342e;
$color-dark-medium-brown: #b45e30;


$font-family-base: "Arial", sans-serif;


$shadow-light: 0 2px 4px rgba(43, 29, 14, 0.1);
$shadow-medium: 0 4px 8px rgba(43, 29, 14, 0.2);
