@use "../base/variables";

header {
  background-color: variables.$background-header;
  color: variables.$neutral-light;
  padding: 1rem 0;

  .navbar {
    a {
      color: variables.$neutral-light;
      text-decoration: none;

      &:hover {
        color: variables.$secondary-sun;
      }
    }
  }
}

.header-section {
  background-color: variables.$header-section;

  .featured {
    color: variables.$text-dark;

    h5 {
      color: variables.$text-dark;
      font-weight: bold;
    }
  }
}